body {
    font-family: Rubik, sans-serif;
    background-color: #efeff6;
    /* -webkit-font-smoothing: antialiased; */
    font-size: 13px;
}

.table {
    margin-bottom: 0px;
}

    .table td,
    .table th {
        padding: 4px 10px !important;
        vertical-align: middle;
        border-top: 1px solid #e6e6f2;
        font-weight: normal;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e6e6f2;
    }

    .table thead th,
    .table th {
        color: #3d405c;
    }

.table-bordered {
    border: 1px solid #e6e6f2;
}

    .table-bordered td,
    .table-bordered th {
        border: 1px solid #e6e6f2;
    }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(230, 230, 242, .5);
}

.table-hover tbody tr:hover {
    background-color: rgba(230, 230, 242, .5);
}


/*-----------------------
5.2.  Data Tables
--------------------*/


/*-- row group table */

tr.group,
tr.group:hover {
    background-color: #5969ff !important;
    color: #fff;
    font-size: 18px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    height: 30px;
    padding: 4px 6px;
    line-height: 1.42857143;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.form-control {
    display: block;
    width: 100%;
    padding: 4px 6px;
    font-size: 13px;
    line-height: 1.7;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}

    .form-control:focus {
        color: #000;
        background-color: #fff;
        border-color: #a7a7f0;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(35, 103, 164, 0.75);
    }

    .form-control::placeholder {
        color: #71748d;
    }




    .bootstrap-select > .dropdown-toggle.bs-placeholder {
        color: #71748d;
    }

.edit-icon,
.ok-icon {
    cursor: pointer;
    margin-left: 10px;
}

.previous-category {
    font-size: 0.9em;
    color: #888;
}

a {
    color: #2367a4 !important;
    text-decoration: none;
    font-weight: 600;
}

    a:hover {
        color: #1e5a91 !important;
    }

.dt-button.buttons-collection {
    background-color: #2367a4 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
}

    .dt-button.buttons-collection:hover {
        background-color: #1e5a91 !important;
    }

.buttons-colvis {
    background-color: #2367a4 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
}

    .buttons-colvis:hover {
        background-color: #1e5a91 !important;
    }

.ad-button {
    background-color: #2367a4 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
}

.btn-primary {
    background-color: #2367a4 !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
}

#filterButton {
    background-color: #2367a4 !important;
    color: #fff !important;
    font-size: 13px;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
}

#filterRecords {
    background-color: #2367a4 !important;
    color: #fff !important;
    font-size: 13px;
    border: none !important;
    border-radius: 4px !important;
    padding: 8px 16px !important;
    margin-right: 5px !important;
    text-decoration: none;
}

    #filterRecords:active {
        background-color: #1b4d73 !important;
        color: #e0e0e0 !important;
    }

.ad-button:hover {
    background-color: #1e5a91 !important;
}

.dt-button-collection .dropdown-menu {
    background-color: #2367a4 !important;
    border: none !important;
}

.dt-button-collection .dropdown-item {
    color: #fff !important;
}

    .dt-button-collection .dropdown-item:hover {
        background-color: #1e5a91 !important;
    }

.dropdown-item.active {
    background-color: #2367a4 !important;
    color: #fff !important;
}

td.details-control {
    cursor: pointer;
    text-align: center;
}

/* tr.shown td.details-control {
      color: #d9534f;
    } */
.additional-info {
    padding-left: 50px;
    color: #2367a4;
}

.category-select,
.majorStatus-select {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    color: #495057;
    font-size: 11px;
}

    .category-select option,
    .majorStatus-select option {
        background-color: #fff;
        color: #495057;
        font-size: 11px;
    }

        .category-select option:hover,
        .majorStatus-select option:hover {
            background-color: #2367a4;
            color: #fff;
        }

.category-wrapper,
.majorStatus-wrapper {
    display: flex;
    align-items: center;
}

tr.child {
    display: none;
    overflow: hidden;
    transition: all 0.3s ease;
}

tr.shown + tr.child {
    display: table-row;
}

.dt-search {
    margin-left: 45rem;
}

.dt-length label {
    margin-left: 0.5rem;
}

.dataTables_wrapper {
    overflow-x: auto;
}

.col-form-label {
    font-weight: 600;
}

td.details-control .circle {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #2367a4;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

td.details-control .comunication-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #2367a4;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

td.details-control .summary-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #2367a4;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.fa-external-link {
    color: #fff;
}

td.details-control .external-link {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    background-color: #2367a4;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

tr.shown td.details-control .circle {
    background-color: #679c5b;
}

tr.shown td.details-control .comunication-button {
    background-color: #679c5b;
}

.progress-thin {
    height: 4px;
}

.bg-warning-gradient {
    background-color: #f9b115;
    background-image: linear-gradient(45deg, #f9b115 0%, #f6960b 100%);
}

.bg-success-gradient {
    background-color: #679c5b;
    background-image: linear-gradient(45deg, #679c5b 0%, #679c5b 100%);
}

div.dt-container {
    width: 100%;
    margin: 0 auto;
}

th, td {
    white-space: nowrap;
}

.additional-info .responsive-table {
    overflow-x: auto;
}

    .additional-info .responsive-table .table {
        width: 100%;
        border: 1px solid #ddd; /* Adding border */
        border-collapse: collapse;
    }

    .additional-info .responsive-table th,
    .additional-info .responsive-table td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .additional-info .responsive-table th {
        background-color: #f2f2f2;
    }

    /* Optional: Highlight even rows */
    .additional-info .responsive-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Optional: Hover effect */
    .additional-info .responsive-table tr:hover {
        background-color: #ddd;
    }

.bootstrap-select .dropdown-toggle {
    color: #71748d;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d2d2e4;
    font-size: 13px;
}

.bootstrap-select .dropdown-menu {
    /* Custom dropdown menu background */
    font-size: 13px;
}

    .bootstrap-select .dropdown-menu .inner {
        color: #111; /* Custom dropdown menu text color */
    }

        .bootstrap-select .dropdown-menu .inner .selected {
            /* Custom selected item background */
            color: #fff;
        }

.navbar-custom {
    font-size: 16px !important;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.card-title {
    font-size: 16px;
    margin: 0 0 7px 0;
    color: #003e74;
}



.previous-category {
    color: red;
}
